* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    background-color: rgb(69, 64, 64 );
    animation-name: changeBodyBg;
    animation-duration: 0.5s;
    animation-fill-mode:both;

}
@keyframes changeBodyBg{
    0%{
        background-color: rgb(69, 64, 64 );
    }
    100%{
        background-color: rgba(0, 0, 0, 1);
    }
}

.container {
    /* background-color: rgb(30, 29, 29); */
    height: 100vh;
    width: 1200px;
    margin: auto;
    display: flex;
    
}



.banner__left {
    background-color: rgb(30, 29, 29);
    border-right: 3px dashed rgba(92, 86, 86, 0.0);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transform: translate(-100vw, 0px);
    animation-name: slideFromLeft;
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-delay: 0.5s;


}

@keyframes slideFromLeft {
    0% {
        transform: translate(-100vw, 0px);
        border-right: 3px dashed rgba(92, 86, 86, 0.0);
    }

    80% {
        transform: translate(0px, 0px);
        border-right: 3px dashed rgba(92, 86, 86, 0.0);

    }
    100% {
        transform: translate(0px, 0px);
        border-right: 3px dashed rgba(92, 86, 86, 0.4);
    }


}

.banner__body{
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.banner__title>h2:hover {
    cursor: pointer;
    color:rgb(142, 227, 142);
    transition: .5s;
    
    
}

h2 {
    font-size: 80px;
    font-family: 'Nuosu SIL', serif;
    color: white;
    font-weight: 400;
}

.info {
    display: flex;
    justify-content: space-evenly;
    align-items:flex-start;
    font-size: 16px;
    font-family: 'Nuosu SIL', serif;
    color: white;
    text-align: justify;
}
.info div:nth-child(2){
padding: 0 20px;
}


.banner__footer{
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin-bottom: 40px;
}

.banner__footer span{
    font-size: 16px;
    font-family: 'Nuosu SIL', serif;
    color: white;
    text-align: justify;

}
.banner__footerLeft__btn {
    font-size: 15px;
    color: white;
    border: 1px solid rgba(211, 203, 203, 0.3);
    cursor: pointer;
    padding: 5px 20px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 7px 5px #654b4b;
    transition: 1s;
}

.banner__footerLeft__btn:hover {
    background-color: rgba(141, 46, 230, .3);
    color: rgb(244, 10, 189);
    border: 1px solid rgb(0, 255, 0);
    transition: 2s;
    box-shadow: 0px 0px 7px 7px #426945;
}

/*  правый блок */

.banner__right{
    background-color: rgb(30, 29, 29);
    width: 50%;
    transform: translate(100vw, 0px);
    animation-name: slideFromRight;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-delay: 0.5s;
}
@keyframes slideFromRight {
    0% {
        transform: translate(100vw, 0px);
    }

    100% {
        transform: translate(0px, 0px);

    }


}
.banner__right-title{
    width: 100%;
    color:aliceblue;
}
.banner__right-title div{
    font-size: 16px;
    text-align:center;
    margin-top: 10px;
    cursor: pointer;
     
}
.banner__right-title div:hover{
    cursor: pointer;
    color:rgb(142, 227, 142);
    transition: .5s;
}
.banner__menuRightTitle li::after{
    content: "";
    border-bottom: 1px solid yellow;
    width: 0px;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s;
     
}
.banner__menuRightTitle li:hover::after{
width: 100%;
transition: 1s;

}
.banner__menuRightTitle li{
    position: relative;
}
.banner__right-title ul{
    list-style: none;
    background-color:rgba(161, 211, 143, 0.3);
    width: 70%;
    padding: 5px 15px;
    margin: auto;
    position: absolute;
    right: 15%;
    top: 30px;
    opacity: 0;
    transition: 20s;
    display: flex;
    justify-content: space-evenly;

    
}
.banner__right-title div:hover  ul{
opacity: 1;
transition: 3s;
cursor: pointer;

}
.banner__menuRightTitle li:hover{
    background-color:rgb(171, 187, 49);
    transition: 3s;

}


.banner__right-title li>a{
    text-decoration: none;
    text-transform: none;
    color: rgb(225, 204, 204);
}
.banner__body:nth-child(2){
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

.banner__infoRight{
    color:aliceblue;
    width: 100%;
    
}
.banner__img{
    height: 50%;
    background-image: url(https://i.kym-cdn.com/photos/images/original/001/468/202/b02.jpg);
    width: 66%;
    background-size: 100% 100%;
}

.banner__text{
    display: flex;
    justify-content: space-between;
    position: relative;
    cursor: pointer;

}
.banner__text div:nth-child(2){
    text-align: justify;
    width: 30%;

    }

    .banner__text div:nth-child(3) {
        text-align: left;
        width: 50%;

    }

    .banner__line {
        border-bottom: 2px solid yellow;
        width: 10%;
        margin-bottom: 30px;
        position: absolute;
        top: -20px;
        transition: 2s;
    }

    .banner__text:hover .banner__line {
        transition: 5s;
        width: 100%;
         
    }


.banner__footerRight {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.banner__footerRight span{
    font-size: 16px;
    font-family: 'Nuosu SIL', serif;
    color: white;
    text-align: justify;
}
.banner__footerRight__btn {
    font-size: 15px;
    color: white;
    border: 1px solid rgba(211, 203, 203, 0.3);
    cursor: pointer;
    padding: 5px 20px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 7px 5px #654b4b;
    transition: 1s;
}

.banner__footerRight__btn:hover {
    background-color: rgba(141, 46, 230, .3);
    color: rgb(244, 10, 189);
    border: 1px solid rgb(0, 255, 0);
    transition: 2s;
    box-shadow: 0px 0px 7px 7px #426945;

}

@media all and (max-width: 460px){
    .container{
        flex-direction: column;
        width: 95%;
    }
    .banner__left, .banner__right{
        width: 100%;
        border-right: none;
    }
    .banner__left{
        order: 2;
        border-top: 3px dashed rgba(92, 86, 86, 0.9);
    }

    .banner__right{
        order: 1;
    }

    .banner__footer{
        width: 100%;
    }
    
h2{
    font-size: 62px;
    text-align: center;
}

.banner__text div:nth-child(2) {
    text-align: justify;
    width: 40%;

}
   
.banner__text div:nth-child(3) {
    text-align: justify;
    width: 40%;
}
.banner__footerRight__btn i {
    transform: rotate(90deg);
}
.banner__footerLeft__btn i {
    transform: rotate(90deg);
}



@keyframes slideFromLeft {
    0% {
        transform: translate(-100vw, 0px);
        border-right: none;
    }

    80% {
        transform: translate(0px, 0px);
        border-right: none;
    }
    100% {
        transform: translate(0px, 0px);
        border-right: none;

}

}

.banner__img{
    width: 80%;
}

.info div:nth-child(2) {
    padding: 20px 0;
}
.info{
    flex-direction: column;
}
}
